.article-compact {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}
.album-cover img {
  left: 0px;
  top: 0px;
  width: 500px;
  height: 500px;
  padding: 0 40px 0 40px;
  /* position: absolute; */
}

.article-compact-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
  margin-right: auto;
}

.article-compact-metadata {
  display: flex;
  flex-direction: row;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.article-category:after {
  content: "•";
  margin: 0 5px 0 5px;
}

.article-title a {
  text-decoration: none;
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: calc((4 - 1) * 1vw + 1rem);
}

.article-excerpt {
  font-family: aktiv-grotesk;
  font-weight: 300;
  font-style: italic;
  font-size: calc((1 - 1) * 1.2vw + 1rem);
}
